body {
  background-color: #000036;
  margin: 0;
}

h1 {
  font-family: Calibri;
  color:#FBFFFF;
  margin: 0rem 15rem 0.5rem 15rem;
  font-size: 3.125rem;
  letter-spacing: 0.15rem;
}

h2 {
  font-family: Calibri;
  color:#9299C5;
  margin: 0.5rem 15rem 1.5rem 15rem;
  font-size: 1.25rem;
}

span {
  color: #00FF80;
  /*color: #FFFFFF;*/
  margin: 0 0.7rem 0 0;
}

.content {
  background-color: #131442;
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin: 1.5rem 15rem 1.5rem 15rem;
  border-radius: 0.5rem;
}

.content p {
  font-family: Calibri;
  color: #7C7DA5;
  line-height: 1.125rem;
  text-align: justify;
}

.table {
  background-color: #131442;
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin: 1.5rem 15rem 1.5rem 15rem;
  border-radius: 0.5rem;
}

.calculator {
  background-color: #7F81AA;
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  margin: 1rem 0rem 1rem 0rem;
  border-radius: 0.5rem;
}
